/* 4.4 Layout */
.main-sidebar {
  @apply shadow-[0_4px_8px_rgba(0,0,0,0.03)] fixed top-0 h-full w-[250px] bg-white z-[880] left-0;
}

.main-sidebar,
.navbar,
.main-content,
.main-footer {
  @apply transition-all duration-500;
}

body.sidebar-gone .main-sidebar {
  @apply -left-[250px];
}

body.sidebar-mini .hide-sidebar-mini {
  @apply !hidden;
}

body.sidebar-mini .main-sidebar {
  @apply w-[65px] !overflow-visible absolute shadow-none;
}
body.sidebar-mini .main-sidebar:after {
  content: ' ';
  @apply shadow-[0_4px_8px_rgba(0,0,0,0.03)] fixed bg-white w-[65px] h-full left-0 top-0 z-[-1] opacity-0;
  animation: mini-sidebar 1.5s forwards;
}

@keyframes mini-sidebar {
  from { opacity: 0; }
  to { opacity: 1; }
}

body.sidebar-mini .main-sidebar .sidebar-brand {
  @apply hidden;
}
body.sidebar-mini .main-sidebar .sidebar-brand-sm {
  @apply block;
}
body.sidebar-mini .main-sidebar .sidebar-menu > li {
  @apply p-[10px];
}
body.sidebar-mini .main-sidebar .sidebar-menu > li.menu-header {
  @apply p-0 text-[0] h-[2px];
}
body.sidebar-mini .main-sidebar .sidebar-menu > li > a {
  @apply rounded-[3px] h-[45px] p-0 justify-center;
}
body.sidebar-mini .main-sidebar .sidebar-menu > li > a .ion,
body.sidebar-mini .main-sidebar .sidebar-menu > li > a .fas,
body.sidebar-mini .main-sidebar .sidebar-menu > li > a .far,
body.sidebar-mini .main-sidebar .sidebar-menu > li > a .fab,
body.sidebar-mini .main-sidebar .sidebar-menu > li > a .fal {
  @apply m-0 text-[20px];
}
body.sidebar-mini .main-sidebar .sidebar-menu > li > a span {
  @apply hidden;
}
body.sidebar-mini .main-sidebar .sidebar-menu > li > a .badge {
  @apply p-[5px] absolute top-[4px] right-[4px] text-[10px];
}
body.sidebar-mini .main-sidebar .sidebar-menu > li > a.has-dropdown:after {
  content: initial;
}
body.sidebar-mini .main-sidebar .sidebar-menu > li.active > a {
  @apply shadow-[0_4px_8px_#acb5f6] bg-[#6777ef] text-white;
}
body.sidebar-mini .main-sidebar .sidebar-menu > li ul.dropdown-menu {
  @apply absolute bg-white left-[65px] top-[10px] w-[200px] hidden shadow-[0_0_30px_rgba(0,0,0,0.03)];
}
body.sidebar-mini .main-sidebar .sidebar-menu > li ul.dropdown-menu li > a:focus,
body.sidebar-mini .main-sidebar .sidebar-menu > li ul.dropdown-menu li.active > a,
body.sidebar-mini .main-sidebar .sidebar-menu > li ul.dropdown-menu li.active > a:hover {
  @apply text-white !bg-[#6777ef];
}
body.sidebar-mini .main-sidebar .sidebar-menu > li ul.dropdown-menu li a {
  @apply h-[40px] px-[20px] bg-white;
}
body.sidebar-mini .main-sidebar .sidebar-menu > li ul.dropdown-menu li a.has-dropdown:after {
  content: "\f105";
  font-family: 'Font Awesome 5 Free';
  @apply font-black absolute top-[50%] right-[20px] -translate-y-[50%] text-[12px] transition-all duration-500;
}
body.sidebar-mini .main-sidebar .sidebar-menu li:hover > ul.dropdown-menu {
  @apply !block;
}
body.sidebar-mini .main-sidebar .sidebar-menu li:hover > ul.dropdown-menu li:hover > a {
  @apply bg-[#fcfcfd];
}
body.sidebar-mini .main-sidebar .sidebar-menu li:hover > ul.dropdown-menu li .dropdown-menu {
  @apply left-[200px] p-0;
}

body.sidebar-mini .navbar {
  @apply left-[65px];
}

body.sidebar-mini .main-content, body.sidebar-mini .main-footer {
  @apply pl-[90px];
}

body.layout-2 .navbar-bg {
  @apply z-[889] h-[70px];
}

body.layout-2 .navbar {
  @apply left-0 z-[890];
}

body.layout-2 .main-wrapper {
  @apply flex flex-wrap px-[50px];
}

body.layout-2 .main-sidebar,
body.layout-2 .main-content,
body.layout-2 .main-footer {
  @apply shrink-0 grow-0;
}

body.layout-2 .main-sidebar {
  @apply bg-transparent shadow-none static mt-[100px] w-[200px];
}
body.layout-2 .main-sidebar .sidebar-menu li.menu-header {
  @apply p-0;
}
body.layout-2 .main-sidebar .sidebar-menu li a {
  @apply p-0;
}
body.layout-2 .main-sidebar .sidebar-menu li a i {
  @apply w-[10px];
}
body.layout-2 .main-sidebar .sidebar-menu li a.has-dropdown:after {
  @apply right-0;
}
body.layout-2 .main-sidebar .sidebar-menu li a:hover {
  @apply text-[#6777ef] bg-transparent;
}
body.layout-2 .main-sidebar .sidebar-menu li ul.dropdown-menu li a {
  @apply pl-[34px];
}
body.layout-2 .main-sidebar .sidebar-menu li.active a {
  @apply bg-transparent;
}
body.layout-2 .main-sidebar .sidebar-menu li.active ul.dropdown-menu {
  @apply bg-transparent;
}
body.layout-2 .main-sidebar .sidebar-menu li.active ul.dropdown-menu a {
  @apply bg-transparent;
}

body.layout-2 .main-content {
  @apply pt-[107px] pl-[30px] pr-0 w-[calc(100%-200px)];
}

body.layout-2 .main-footer {
  @apply ml-[230px] w-[calc(100%-230px)] px-0;
}

body.layout-3 .navbar {
  @apply left-0 right-0;
}

body.layout-3 .navbar.navbar-secondary {
  @apply shadow-[0_4px_8px_rgba(0,0,0,0.03)] bg-white top-[70px] p-0 z-[889];
}
body.layout-3 .navbar.navbar-secondary .navbar-nav > .nav-item.active > .nav-link {
  @apply text-[#6777ef];
}
body.layout-3 .navbar.navbar-secondary .navbar-nav > .nav-item.active > .nav-link:before {
  @apply left-[35px] right-0;
}
body.layout-3 .navbar.navbar-secondary .navbar-nav > .nav-item:first-child .nav-link {
  @apply ml-0;
}
body.layout-3 .navbar.navbar-secondary .navbar-nav > .nav-item:last-child .nav-link {
  @apply mr-0;
}
body.layout-3 .navbar.navbar-secondary .navbar-nav > .nav-item > .nav-link {
  @apply text-[#868e96] text-[13px] tracking-[.3px] h-[70px] p-0 !px-0 mx-[15px] relative;
}
body.layout-3 .navbar.navbar-secondary .navbar-nav > .nav-item > .nav-link.has-dropdown {
  @apply mr-[35px];
}
body.layout-3 .navbar.navbar-secondary .navbar-nav > .nav-item > .nav-link.has-dropdown:after {
  content: "\f105";
  font-family: 'Font Awesome 5 Free';
  @apply font-black absolute top-[50%] right-[-20px] -translate-y-[50%] text-[12px] transition-all duration-500;
}
body.layout-3 .navbar.navbar-secondary .navbar-nav > .nav-item > .nav-link:before {
  content: ' ';
  @apply absolute left-[initial] right-[initial] bottom-0 h-[2px] bg-[#6777ef] transition-all duration-500;
}
body.layout-3 .navbar.navbar-secondary .navbar-nav > .nav-item > .nav-link span {
  @apply leading-[74px];
}
body.layout-3 .navbar.navbar-secondary .navbar-nav > .nav-item > .nav-link i {
  @apply w-[30px] text-[16px];
}
body.layout-3 .navbar.navbar-secondary .navbar-nav > .nav-item > .nav-link:hover {
  @apply !text-[#191d21];
}
body.layout-3 .navbar.navbar-secondary .navbar-nav > .nav-item .dropdown-menu {
  @apply p-0;
}
body.layout-3 .navbar.navbar-secondary .navbar-nav > .nav-item .dropdown-menu .nav-item .nav-link {
  @apply text-[#6c757d] font-semibold tracking-[.3px] !p-[7px] !px-[20px];
}
body.layout-3 .navbar.navbar-secondary .navbar-nav > .nav-item .dropdown-menu .nav-item .nav-link.has-dropdown:after {
  content: "\f105";
  font-family: 'Font Awesome 5 Free';
  @apply font-black absolute top-[50%] right-[15px] -translate-y-[50%] text-[12px] transition-all duration-500;
}
body.layout-3 .navbar.navbar-secondary .navbar-nav > .nav-item .dropdown-menu .nav-item:hover > .nav-link {
  @apply bg-[#fcfcfd] text-[#191d21];
}
body.layout-3 .navbar.navbar-secondary .navbar-nav > .nav-item .dropdown-menu .nav-item:hover > .dropdown-menu {
  @apply !block top-[-5px] left-[200px];
}
body.layout-3 .navbar.navbar-secondary .navbar-nav > .nav-item .dropdown-menu .nav-item.active > .nav-link,
body.layout-3 .navbar.navbar-secondary .navbar-nav > .nav-item .dropdown-menu .nav-item .nav-link:focus {
  @apply bg-[#6777ef] text-white;
}

body.layout-3 .main-content {
  @apply px-0 pt-[170px];
}

body.layout-3 .main-footer {
  @apply px-0;
}

.main-sidebar .sidebar-brand {
  @apply inline-block w-full text-center h-[60px] leading-[60px];
}
.main-sidebar .sidebar-brand.sidebar-brand-sm {
  @apply hidden;
}
.main-sidebar .sidebar-brand a {
  @apply no-underline uppercase tracking-[1.5px] font-bold text-[#000];
}

.main-sidebar .sidebar-user {
  @apply inline-block w-full p-[10px] mb-[10px];
}
.main-sidebar .sidebar-user .sidebar-user-picture {
  @apply float-left mr-[10px];
}
.main-sidebar .sidebar-user .sidebar-user-picture img {
  @apply w-[50px] rounded-full;
}

.main-sidebar .sidebar-menu {
  @apply p-0 m-0;
}
.main-sidebar .sidebar-menu li {
  @apply block;
}
.main-sidebar .sidebar-menu li.menu-header {
  @apply px-[15px] py-[3px] text-[#a1a8ae] text-[10px] uppercase tracking-[1.3px] font-semibold;
}
.main-sidebar .sidebar-menu li.menu-header:not(:first-child) {
  @apply mt-[10px];
}
.main-sidebar .sidebar-menu li a {
  @apply relative flex items-center h-[50px] px-[20px] w-full tracking-[.3px] text-[#78828a] no-underline;
}
.main-sidebar .sidebar-menu li a .badge {
  @apply float-right px-[10px] py-[5px] mt-[2px];
}
.main-sidebar .sidebar-menu li a i {
  @apply w-[28px] mr-[20px] text-center;
}
.main-sidebar .sidebar-menu li a span {
  @apply mt-[3px] w-full;
}
.main-sidebar .sidebar-menu li a:hover {
  @apply bg-[#f8fafb];
}
.main-sidebar .sidebar-menu li.active a {
  @apply text-[#6777ef] font-semibold bg-[#f8fafb];
}
.main-sidebar .sidebar-menu li.active a.has-dropdown:after {
  @apply translate-y-[-50%] rotate-90;
}
.main-sidebar .sidebar-menu li.active ul.dropdown-menu {
  @apply bg-[#f8fafb];
}
.main-sidebar .sidebar-menu li a.has-dropdown:after {
  content: "\f105";
  font-family: 'Font Awesome 5 Free';
  @apply font-black absolute top-[50%] right-[20px] -translate-y-[50%] text-[12px] transition-all duration-500;
}
.main-sidebar .sidebar-menu li.active > ul.dropdown-menu li a:hover {
  @apply bg-[#f8fafb];
}
.main-sidebar .sidebar-menu li ul.dropdown-menu {
  @apply p-0 m-0 hidden static float-none w-full shadow-none bg-transparent;
}
.main-sidebar .sidebar-menu li ul.dropdown-menu li a {
  @apply text-[#868e96] h-[35px] pl-[65px] font-normal;
}
.main-sidebar .sidebar-menu li ul.dropdown-menu li a:hover {
  @apply text-[#6777ef] bg-inherit;
}
.main-sidebar .sidebar-menu li ul.dropdown-menu li.active > a {
  @apply text-[#6777ef] font-semibold;
}
.main-sidebar .sidebar-menu li ul.dropdown-menu li a i {
  @apply mt-[1px] text-center;
}
.main-sidebar .sidebar-menu li ul.dropdown-menu li ul.dropdown-menu {
  @apply pl-[10px];
}

.main-content {
  @apply pl-[280px] pr-[30px] pt-[80px] w-full relative;
}

.main-footer {
  @apply px-[30px] py-[20px] pl-[280px] mt-[40px] text-[#98a6ad] border-t border-[#e3eaef] inline-block w-full;
}
.main-footer .footer-left {
  @apply float-left;
}
.main-footer .footer-right {
  @apply float-right;
}

.simple-footer {
  @apply text-center my-[40px];
}

body:not(.sidebar-mini) .sidebar-style-1 .sidebar-menu li.active a {
  @apply bg-[#6777ef] text-white;
}

body:not(.sidebar-mini) .sidebar-style-1 .sidebar-menu li.active ul.dropdown-menu li a {
  @apply text-[#e8ebfd];
}
body:not(.sidebar-mini) .sidebar-style-1 .sidebar-menu li.active ul.dropdown-menu li a:hover {
  @apply bg-[#6777ef] text-white;
}

body:not(.sidebar-mini) .sidebar-style-1 .sidebar-menu li.active ul.dropdown-menu li.active a {
  @apply text-white;
}

body:not(.sidebar-mini) .sidebar-style-2 .sidebar-menu > li.active > a {
  @apply pl-[16px] bg-transparent relative;
}
body:not(.sidebar-mini) .sidebar-style-2 .sidebar-menu > li.active > a:before {
  content: '';
  @apply absolute left-0 top-[50%] -translate-y-[50%] h-[25px] w-[4px] bg-[#6777ef];
}

body:not(.sidebar-mini) .sidebar-style-2 .sidebar-menu li.active ul.dropdown-menu li a {
  @apply pl-[61px] bg-white;
}

@media (max-width: 1024px) {
  .sidebar-gone-hide {
    @apply !hidden;
  }
  .sidebar-gone-show {
    @apply !block;
  }
  .main-sidebar {
    @apply !fixed !mt-0 z-[891];
  }
  body.layout-2 .main-wrapper,
  body.layout-3 .main-wrapper {
    @apply w-full p-0 block;
  }
  .main-content {
    @apply px-[30px] !w-full;
  }
  .main-footer {
    @apply pl-[30px];
  }
  body.search-show {
    @apply overflow-hidden;
  }
  body.search-show .navbar {
    @apply z-[892];
  }
  body.sidebar-show {
    @apply overflow-hidden;
  }
  body.search-show:before, body.sidebar-show:before {
    content: '';
    @apply fixed left-0 right-0 w-full h-full bg-black opacity-0 z-[891];
    animation: fadeinbackdrop 1s forwards;
  }
  @keyframes fadeinbackdrop {
    to { opacity: .6; }
  }
}

/* 4.5 Animation */
.pulsate {
  animation: pulsate 1s ease-out infinite;
  @apply opacity-100;
}

@keyframes pulsate {
  0% { transform: scale(0.1, 0.1); opacity: 0.0; }
  50% { opacity: 1.0; }
  100% { transform: scale(1.2, 1.2); opacity: 0.0; }
}
