/* 3.11 Badge */
.badges .badge {
  @apply m-[0_8px_10px_0];
}

.badge {
  @apply align-middle px-[12px] py-[7px] font-semibold tracking-[.3px] rounded-[30px] text-[12px];
}
.badge.badge-warning {
  @apply text-white;
}
.badge.badge-primary {
  @apply bg-[#6777ef];
}
.badge.badge-secondary {
  @apply bg-[#cdd3d8];
}
.badge.badge-success {
  @apply bg-[#47c363];
}
.badge.badge-info {
  @apply bg-[#3abaf4];
}
.badge.badge-danger {
  @apply bg-[#fc544b];
}
.badge.badge-light {
  @apply bg-[#e3eaef] text-[#191d21];
}
.badge.badge-white {
  @apply bg-[#ffffff] text-[#191d21];
}
.badge.badge-dark {
  @apply bg-[#191d21];
}

h1 .badge {
  @apply text-[24px] px-[21px] py-[16px];
}
h2 .badge {
  @apply text-[22px] px-[19px] py-[14px];
}
h3 .badge {
  @apply text-[18px] px-[16px] py-[11px];
}
h4 .badge {
  @apply text-[16px] px-[13px] py-[8px];
}
h5 .badge {
  @apply text-[14px] px-[10px] py-[5px];
}
h6 .badge {
  @apply text-[11px] px-[8px] py-[3px];
}

.btn .badge {
  @apply ml-[5px] px-[7px] py-[4px];
}
.btn .badge.badge-transparent {
  @apply bg-[rgba(255,255,255,0.25)] text-white;
}

/* 3.12 Button */
.buttons .btn {
  @apply m-[0_8px_10px_0];
}

.btn:focus, .btn:active, .btn:active:focus {
  @apply shadow-none !outline-none;
}

.btn.btn-icon-split i, .dropdown-item.has-icon i {
  @apply text-center w-[15px] text-[15px] float-left mr-[10px];
}

.btn {
  @apply font-semibold text-[12px] leading-[24px] px-[.8rem] py-[.3rem] tracking-[.5px];
}
.btn.btn-icon-split {
  @apply relative;
}
.btn.btn-icon-split i {
  @apply absolute left-0 top-0 h-full w-[45px] rounded-[3px_0_0_3px] leading-[32px];
}
.btn.btn-icon-split div {
  @apply ml-[40px];
}
.btn.btn-icon-noflo-splitat {
  @apply table text-right;
}
.btn.btn-icon-noflo-splitat i {
  @apply float-none m-0 table-cell align-middle w-[30%];
}
.btn.btn-icon-noflo-splitat div {
  @apply table-cell align-middle w-[70%] text-left pl-[10px];
}
.btn:not(.btn-social):not(.btn-social-icon):active,
.btn:not(.btn-social):not(.btn-social-icon):focus,
.btn:not(.btn-social):not(.btn-social-icon):hover {
  @apply !border-transparent bg-white;
}
.btn > i {
  @apply !ml-0;
}
.btn.btn-lg {
  @apply px-[1.5rem] py-[.55rem] text-[12px];
}
.btn.btn-lg.btn-icon-split i {
  @apply leading-[42px];
}
.btn.btn-lg.btn-icon-split div {
  @apply ml-[25px];
}
.btn.btn-sm {
  @apply px-[.4rem] py-[.10rem] text-[12px];
}
.btn.btn-icon .ion, .btn.btn-icon .fas, .btn.btn-icon .far, .btn.btn-icon .fab, .btn.btn-icon .fal {
  @apply !ml-0 text-[12px];
}
.btn.btn-icon.icon-left .ion, .btn.btn-icon.icon-left .fas, .btn.btn-icon.icon-left .far, .btn.btn-icon.icon-left .fab, .btn.btn-icon.icon-left .fal {
  @apply mr-[3px];
}
.btn.btn-icon.icon-right .ion, .btn.btn-icon.icon-right .fas, .btn.btn-icon.icon-right .far, .btn.btn-icon.icon-right .fab, .btn.btn-icon.icon-right .fal {
  @apply !ml-[3px];
}

.btn-action {
  @apply !text-white leading-[25px] text-[12px] min-w-[35px] min-h-[35px];
}

.btn-secondary, .btn-secondary.disabled {
  @apply shadow-[0_2px_6px_#e1e5e8] bg-[#cdd3d8] border-[#cdd3d8] text-white;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active,
.btn-secondary.disabled:hover, .btn-secondary.disabled:focus, .btn-secondary.disabled:active {
  @apply !bg-[#bfc6cd] !text-white;
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active,
.btn-outline-secondary.disabled:hover, .btn-outline-secondary.disabled:focus, .btn-outline-secondary.disabled:active {
  @apply !bg-[#cdd3d8] !text-white;
}

.btn-success, .btn-success.disabled {
  @apply shadow-[0_2px_6px_#81d694] bg-[#47c363] border-[#47c363] text-white;
}
.btn-success:hover, .btn-success:focus, .btn-success:active,
.btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active {
  @apply !bg-[#3bb557] !text-white;
}

.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active,
.btn-outline-success.disabled:hover, .btn-outline-success.disabled:focus, .btn-outline-success.disabled:active {
  @apply !bg-[#47c363] !text-white;
}

.btn-danger, .btn-danger.disabled {
  @apply shadow-[0_2px_6px_#fd9b96] bg-[#fc544b] border-[#fc544b] text-white;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active,
.btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active {
  @apply !bg-[#fb160a];
}

.btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active,
.btn-outline-danger.disabled:hover, .btn-outline-danger.disabled:focus, .btn-outline-danger.disabled:active {
  @apply !bg-[#fb160a] !text-white;
}

.btn-dark, .btn-dark.disabled {
  @apply shadow-[0_2px_6px_#728394] bg-[#191d21] border-[#191d21] text-white;
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active,
.btn-dark.disabled:hover, .btn-dark.disabled:focus, .btn-dark.disabled:active {
  @apply !bg-black;
}

.btn-outline-dark:hover, .btn-outline-dark:focus, .btn-outline-dark:active,
.btn-outline-dark.disabled:hover, .btn-outline-dark.disabled:focus, .btn-outline-dark.disabled:active {
  @apply !bg-black !text-white;
}

.btn-light, .btn-light.disabled {
  @apply shadow-[0_2px_6px_#e6ecf1] bg-[#e3eaef] border-[#e3eaef] text-[#191d21];
}
.btn-light:hover, .btn-light:focus, .btn-light:active,
.btn-light.disabled:hover, .btn-light.disabled:focus, .btn-light.disabled:active {
  @apply !bg-[#c3d2dc];
}

.btn-outline-light, .btn-outline-light.disabled {
  @apply border-[#e3eaef] text-[#e3eaef];
}
.btn-outline-light:hover, .btn-outline-light:focus, .btn-outline-light:active,
.btn-outline-light.disabled:hover, .btn-outline-light.disabled:focus, .btn-outline-light.disabled:active {
  @apply !bg-[#e3eaef] !text-white;
}

.btn-warning, .btn-warning.disabled {
  @apply shadow-[0_2px_6px_#ffc473] bg-[#ffa426] border-[#ffa426] text-white;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active,
.btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active {
  @apply !bg-[#ff990d] !text-white;
}

.btn-outline-warning:hover, .btn-outline-warning:focus, .btn-outline-warning:active,
.btn-outline-warning.disabled:hover, .btn-outline-warning.disabled:focus, .btn-outline-warning.disabled:active {
  @apply !bg-[#ffa426] !text-white;
}

.btn-info, .btn-info.disabled {
  @apply shadow-[0_2px_6px_#82d3f8] bg-[#3abaf4] border-[#3abaf4] text-white;
}
.btn-info:hover, .btn-info:focus, .btn-info:active,
.btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active {
  @apply !bg-[#0da8ee];
}

.btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active,
.btn-outline-info.disabled:hover, .btn-outline-info.disabled:focus, .btn-outline-info.disabled:active {
  @apply !bg-[#0da8ee] !text-white;
}

.btn-primary, .btn-primary.disabled {
  @apply shadow-[0_2px_6px_#acb5f6] bg-[#6777ef] border-[#6777ef];
}
.btn-primary:focus, .btn-primary.disabled:focus,
.btn-primary:focus:active, .btn-primary.disabled:focus:active,
.btn-primary:active, .btn-primary:hover,
.btn-primary.disabled:active, .btn-primary.disabled:hover {
  @apply !bg-[#394eea];
}

.btn-outline-primary, .btn-outline-primary.disabled {
  @apply border-[#6777ef] text-[#6777ef];
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active,
.btn-outline-primary.disabled:hover, .btn-outline-primary.disabled:focus, .btn-outline-primary.disabled:active {
  @apply !bg-[#6777ef] text-white;
}

.btn-outline-white, .btn-outline-white.disabled {
  @apply border-white text-white;
}
.btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active,
.btn-outline-white.disabled:hover, .btn-outline-white.disabled:focus, .btn-outline-white.disabled:active {
  @apply bg-white text-[#6777ef];
}

.btn-round {
  @apply rounded-[30px] px-[34px];
}

.btn-social-icon, .btn-social {
  @apply border-none rounded-[3px];
}

.btn-social-icon {
  @apply !text-white px-[18px];
}
.btn-social-icon > :first-child {
  @apply text-[16px];
}

.btn-social {
  @apply p-[12px_12px_12px_50px] !text-white font-medium;
}
.btn-social > :first-child {
  @apply w-[55px] leading-[50px] border-r-0;
}

.btn-reddit {
  @apply !text-black;
}

.btn-group .btn.active {
  @apply bg-[#6777ef] text-white;
}

.btn-progress {
  position: relative;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJsb2FkZXItMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQogd2lkdGg9IjQwcHgiIGhlaWdodD0iNDBweCIgdmlld0JveD0iMCAwIDUwIDUwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MCA1MDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTQzLjkzNSwyNS4xNDVjMC0xMC4zMTgtOC4zNjQtMTguNjgzLTE4LjY4My0xOC42ODNjLTEwLjMxOCwwLTE4LjY4Myw4LjM2NS0xOC42ODMsMTguNjgzaDQuMDY4YzAtOC4wNzEsNi41NDMtMTQuNjE1LDE0LjYxNS0xNC42MTVjOC4wNzIsMCwxNC42MTUsNi41NDMsMTQuNjE1LDE0LjYxNUg0My45MzV6Ij4NCjxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZVR5cGU9InhtbCINCiAgYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIg0KICB0eXBlPSJyb3RhdGUiDQogIGZyb209IjAgMjUgMjUiDQogIHRvPSIzNjAgMjUgMjUiDQogIGR1cj0iMC42cyINCiAgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiLz4NCjwvcGF0aD4NCjwvc3ZnPg0K");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  pointer-events: none;
  @apply !text-transparent;
}

/* 3.13 Media */
.media .media-right {
  @apply float-right text-[#6777ef] font-semibold text-[16px];
}
.media .media-icon {
  @apply text-[20px] mr-[15px] leading-none;
}
.media .media-title {
  @apply mt-0 mb-[5px] font-semibold text-[15px] text-[#34395e];
}
.media .media-title a {
  @apply font-inherit text-black;
}
.media .media-description {
  @apply leading-[24px] text-[#34395e];
}
.media .media-links {
  @apply mt-[10px];
}
.media .media-links a {
  @apply text-[12px] text-[#999];
}
.media .media-progressbar {
  @apply flex-1;
}
.media .media-progressbar .progress-text {
  @apply text-[12px] font-semibold mb-[5px] text-[#34395e];
}
.media .media-cta {
  @apply ml-[40px];
}
.media .media-cta .btn {
  @apply px-[15px] py-[5px] rounded-[30px] text-[12px];
}
.media .media-items {
  @apply flex;
}
.media .media-items .media-item {
  @apply flex-1 text-center px-[15px];
}
.media .media-items .media-item .media-label {
  @apply font-semibold text-[12px] text-[#34395e] tracking-[.5px];
}
.media .media-items .media-item .media-value {
  @apply font-bold text-[18px];
}

/* 3.14 Breadcrumb */
.breadcrumb {
  @apply bg-[#f9f9f9];
}
.breadcrumb .breadcrumb-item {
  @apply leading-none;
}
.breadcrumb .breadcrumb-item i {
  @apply mr-[5px];
}

/* 3.15 Accordion */
.accordion {
  @apply inline-block w-full mb-[10px];
}
.accordion .accordion-header, .accordion .accordion-body {
  @apply px-[15px] py-[10px];
}
.accordion .accordion-header {
  @apply bg-[#f9f9f9] rounded-[3px] cursor-pointer transition-all duration-500;
}
.accordion .accordion-header h4 {
  @apply leading-none m-0 text-[14px] font-bold;
}
.accordion .accordion-header:hover {
  @apply bg-[#f2f2f2];
}
.accordion .accordion-header[aria-expanded="true"] {
  @apply shadow-[0_2px_6px_#acb5f6] bg-[#6777ef] text-white;
}
.accordion .accordion-body {
  @apply leading-[24px];
}

/* 3.16 Popover */
.popover {
  @apply shadow-[0_4px_8px_rgba(0,0,0,0.03)] border-transparent;
}
.popover .manual-arrow {
  @apply absolute bottom-[-15px] text-[26px] left-[50%] -translate-x-[50%] text-white;
}

.bs-popover-auto[x-placement^=left] .arrow::before, .bs-popover-left .arrow::before {
  @apply border-l-[#f2f2f2];
}
.bs-popover-auto[x-placement^=bottom] .arrow::before, .bs-popover-bottom .arrow::before {
  @apply border-b-[#f2f2f2];
}
.bs-popover-auto[x-placement^=top] .arrow::before, .bs-popover-top .arrow::before {
  @apply border-t-[#f2f2f2];
}
.bs-popover-auto[x-placement^=right] .arrow::before, .bs-popover-right .arrow::before {
  @apply border-r-[#f2f2f2];
}

.popover .popover-header {
  @apply bg-transparent border-none pb-0 pt-[10px];
}
.popover .popover-body {
  @apply p-[15px] leading-[24px];
}

/* 3.17 Grid */
.sm-gutters {
  @apply -mx-[5px];
}
.sm-gutters > .col, .sm-gutters > [class*=col-] {
  @apply px-[5px];
}

/* 3.18 Navbar */
.navbar {
  @apply h-[70px] left-[250px] right-[5px] absolute z-[890] bg-transparent items-center;
}
.navbar.active {
  @apply bg-[#6777ef] shadow-[rgba(103,119,239,0.2)_rgba(0,0,0,0.03)];
}

.navbar-bg {
  @apply content-[' '] absolute top-0 left-0 w-full h-[115px] bg-[#6777ef] z-[-1];
}

.navbar .navbar-brand {
  @apply text-white uppercase tracking-[3px] font-bold;
}
.navbar .form-inline .form-control {
  @apply bg-white border-transparent pl-[20px] pr-0 -mr-[6px] min-h-[46px] font-medium rounded-[3px_0_0_3px] transition-all duration-1000;
}
.navbar .form-inline .form-control:focus,
.navbar .form-inline .form-control:focus + .btn {
  @apply relative z-[9001];
}
.navbar .form-inline .form-control:focus + .btn + .search-backdrop {
  @apply opacity-60 visible;
}
.navbar .form-inline .form-control:focus + .btn + .search-backdrop + .search-result {
  @apply opacity-100 visible top-[80px];
}
.navbar .form-inline .btn {
  @apply rounded-[0_3px_3px_0] bg-white py-[9px] px-[15px] border-transparent;
}
.navbar .form-inline .search-backdrop {
  @apply fixed top-0 left-0 w-full h-full z-[9000] bg-black opacity-0 invisible transition-all duration-500;
}
.navbar .form-inline .search-result {
  @apply absolute z-[9002] top-[100px] bg-white rounded-[3px] w-[450px] opacity-0 invisible transition-all duration-500;
}
.navbar .form-inline .search-result:before {
  content: '\f0d8';
  @apply absolute -top-[26px] left-[34px] font-semibold text-white text-[30px];
  font-family: 'Font Awesome 5 Free';
}
.navbar .form-inline .search-result .search-header {
  @apply pt-[13px] px-[18px] pb-[2px] uppercase tracking-[1.3px] font-semibold text-[10px] text-[#bcc1c6];
}
.navbar .form-inline .search-result .search-item {
  @apply flex;
}
.navbar .form-inline .search-result .search-item a {
  @apply block px-[18px] py-[13px] no-underline text-[#34395e] font-semibold flex items-center;
}
.navbar .form-inline .search-result .search-item a:hover {
  @apply bg-[#f1f3fe];
}
.navbar .form-inline .search-result .search-item a:not(.search-close) {
  @apply w-full;
}
.navbar .form-inline .search-result .search-item a i {
  @apply !ml-0;
}
.navbar .form-inline .search-result .search-item .search-icon {
  @apply w-[35px] h-[35px] leading-[35px] text-center rounded-full;
}
.navbar .active .nav-link {
  @apply text-white font-bold;
}
.navbar .navbar-text {
  @apply text-white;
}
.navbar .nav-link {
  @apply text-[#f2f2f2] !px-[15px] !py-0 h-full;
}
.navbar .nav-link.nav-link-lg div {
  @apply mt-[3px];
}
.navbar .nav-link.nav-link-lg i {
  @apply !ml-0 text-[18px] leading-[32px];
}
.navbar .nav-link.nav-link-user {
  @apply text-white py-[4px] font-semibold;
}
.navbar .nav-link.nav-link-user img {
  @apply w-[30px];
}
.navbar .nav-link.nav-link-img {
  @apply py-[4px] rounded-full overflow-hidden;
}
.navbar .nav-link.nav-link-img .flag-icon {
  @apply shadow-[0_4px_8px_rgba(0,0,0,0.03)] rounded-full leading-[18px] h-[22px] w-[22px] bg-cover;
}

.remove-caret:after {
  @apply hidden;
}
.navbar .nav-link:hover {
  @apply text-white;
}
.navbar .nav-link.disabled {
  @apply text-white opacity-60;
}
.nav-collapse {
  @apply flex;
}

@media (max-width: 575.98px) {
  body.search-show .navbar .form-inline .search-element {
    @apply block;
  }
  .navbar .form-inline .search-element {
    @apply absolute top-[10px] left-[10px] right-[10px] z-[892] hidden;
  }
  .navbar .form-inline .search-element .form-control {
    @apply float-left rounded-[3px_0_0_3px] !w-[calc(100%-43px)];
  }
  .navbar .form-inline .search-element .btn {
    @apply mt-[1px] rounded-[0_3px_3px_0];
  }
  .navbar .form-inline .search-result {
    @apply w-full;
  }
  .navbar .form-inline .search-backdrop {
    @apply hidden;
  }
  .navbar .nav-link.nav-link-lg div {
    @apply hidden;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar .form-inline .search-element {
    @apply block;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .collapse {
    @apply relative;
  }
  .collapse .navbar-nav {
    @apply absolute;
  }
}

@media (max-width: 1024px) {
  .nav-collapse {
    @apply relative;
  }
  .nav-collapse .navbar-nav {
    @apply shadow-[0_0_30px_rgba(0,0,0,0.03)] absolute top-[40px] left-0 w-[200px] hidden;
  }
  .nav-collapse .navbar-nav.show {
    @apply block;
  }
  .nav-collapse .navbar-nav .nav-item:first-child {
    @apply rounded-[3px_3px_0_0];
  }
  .nav-collapse .navbar-nav .nav-item:last-child {
    @apply rounded-[0_0_3px_3px];
  }
  .nav-collapse .navbar-nav .nav-item .nav-link {
    @apply bg-white text-[#6c757d];
  }
  .nav-collapse .navbar-nav .nav-item .nav-link:hover {
    @apply bg-[#fcfcfd] text-[#6777ef];
  }
  .nav-collapse .navbar-nav .nav-item:focus > a, .nav-collapse .navbar-nav .nav-item.active > a {
    @apply bg-[#6777ef] text-white;
  }
  .navbar {
    @apply left-[5px] right-0;
  }
  .navbar .dropdown-menu {
    @apply absolute;
  }
  .navbar .navbar-nav {
    @apply flex-row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu-right {
    @apply right-0 left-auto;
  }
}

/* 3.19 Dropdown */
.dropdown-item.has-icon i {
  @apply -mt-[1px] text-[13px];
}
.dropdown-menu {
  @apply shadow-[0_10px_40px_0_rgba(51,73,94,0.15)] border-none w-[200px];
}
.dropdown-menu.show {
  @apply !block;
}
.dropdown-menu a {
  @apply text-[13px];
}
.dropdown-menu .dropdown-title {
  @apply uppercase text-[10px] tracking-[1.5px] font-bold !text-[#191d21] px-[20px] py-[10px] leading-[20px] text-[#98a6ad];
}
.dropdown-menu.dropdown-menu-sm a {
  @apply text-[14px] tracking-normal px-[20px] py-[10px] text-[#6c757d];
}
a.dropdown-item {
  @apply px-[20px] py-[10px] font-medium leading-[1.2];
}
a.dropdown-item:focus, a.dropdown-item:active, a.dropdown-item.active {
  @apply bg-[#6777ef] !text-white;
}
.dropdown-divider {
  @apply border-t-[#f9f9f9];
}
.dropdown-list {
  @apply w-[350px] p-0;
}
.dropdown-list .dropdown-item {
  @apply inline-block w-full py-[15px] px-[20px] text-[13px] border-b border-[#f9f9f9];
}
.dropdown-list .dropdown-item.dropdown-item-header:hover {
  @apply bg-transparent;
}
.dropdown-list .dropdown-item .time {
  @apply mt-[10px] font-semibold uppercase text-[10px] tracking-[.5px];
}
.dropdown-list .dropdown-item .dropdown-item-avatar {
  @apply float-left w-[40px] text-right relative;
}
.dropdown-list .dropdown-item .dropdown-item-avatar img {
  @apply w-full;
}
.dropdown-list .dropdown-item .dropdown-item-avatar .is-online {
  @apply absolute bottom-0 right-0;
}
.dropdown-list .dropdown-item .dropdown-item-desc {
  @apply leading-[24px] whitespace-normal text-[#34395e] ml-[60px];
}
.dropdown-list .dropdown-item .dropdown-item-desc b {
  @apply font-semibold text-[#666];
}
.dropdown-list .dropdown-item .dropdown-item-desc p {
  @apply mb-0;
}
.dropdown-list .dropdown-item:focus {
  @apply bg-[#6777ef];
}
.dropdown-list .dropdown-item:focus .dropdown-item-desc,
.dropdown-list .dropdown-item:focus .dropdown-item-desc b {
  @apply !text-white;
}
.dropdown-list .dropdown-item.dropdown-item-unread:active .dropdown-item-desc,
.dropdown-list .dropdown-item.dropdown-item-unread:active .dropdown-item-desc b {
  @apply text-[#6c757d];
}
.dropdown-list .dropdown-item:active .dropdown-item-desc,
.dropdown-list .dropdown-item:active .dropdown-item-desc b {
  @apply text-white;
}
.dropdown-list .dropdown-item.dropdown-item-unread {
  @apply bg-[#fbfbfb] border-b-[#f2f2f2];
}
.dropdown-list .dropdown-item.dropdown-item-unread:focus .dropdown-item-desc,
.dropdown-list .dropdown-item.dropdown-item-unread:focus .dropdown-item-desc b {
  @apply !text-[#6c757d];
}
.dropdown-list .dropdown-footer,
.dropdown-list .dropdown-header {
  @apply tracking-[.5px] font-semibold p-[15px];
}
.dropdown-list .dropdown-footer a,
.dropdown-list .dropdown-header a {
  @apply font-semibold;
}
.dropdown-list .dropdown-list-content {
  @apply h-[350px] overflow-hidden;
}
.dropdown-list .dropdown-list-content:not(.is-end):after {
  content: ' ';
  @apply absolute bottom-[46px] left-0 w-full h-[60px];
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8));
}
.dropdown-list .dropdown-list-icons .dropdown-item {
  @apply flex;
}
.dropdown-list .dropdown-list-icons .dropdown-item .dropdown-item-icon {
  @apply shrink-0 rounded-full w-[40px] h-[40px] leading-[42px] text-center;
}
.dropdown-list .dropdown-list-icons .dropdown-item .dropdown-item-icon i {
  @apply m-0;
}
.dropdown-list .dropdown-list-icons .dropdown-item .dropdown-item-desc {
  @apply ml-[15px] leading-[20px];
}
.dropdown-list .dropdown-list-icons .dropdown-item .dropdown-item-desc .time {
  @apply mt-[5px];
}
.dropdown-flag .dropdown-item {
  @apply font-semibold;
}
.dropdown-flag .dropdown-item .flag-icon {
  @apply w-[20px] h-[13px] mr-[7px] -mt-[6px];
}
.dropdown-flag .dropdown-item.active {
  @apply bg-[#6777ef] text-white;
}
@media (max-width: 575.98px) {
  .dropdown-list-toggle {
    @apply static;
  }
  .dropdown-list-toggle .dropdown-list {
    @apply !left-[10px] w-[calc(100%-20px)];
  }
}

/* 3.20 Dropdown (Tab) */
.tab-content.no-padding > .tab-pane {
  @apply p-0;
}
.tab-content > .tab-pane {
  @apply leading-[28px];
}
ul.nav-tabs li.nav-item a.nav-link i {
  @apply text-[#6777ef];
}
ul.nav-tabs li.nav-item a.nav-link span {
  @apply block leading-[60%];
}
ul.nav-tabs li.nav-item a.nav-link span i {
  @apply !text-[16px];
}
ul.nav-tabs li.nav-item a.nav-link.active i {
  @apply text-[#191d21];
}

/* 3.21 Progress Bar */
.progress-bar {
  @apply bg-[#6777ef];
}

/* 3.22 Jumbotron */
.jumbotron {
  @apply bg-[#e3eaef];
}

/* 3.23 Carousel */
.carousel .carousel-caption p {
  @apply text-[13px] leading-[24px];
}
